.bot ul {
  padding-left: 20px;
  margin-top: 5px;
}

.bot li {
  margin-bottom: 5px;
}

.bot strong {
  font-weight: bold;
    color: #444;
}

.bot em {
  font-style: italic;
}

.bot p {
  margin: 8px 0;
  color: grey;
}

.bot h1, .bot h2, .bot h3, .bot h4, .bot h5, .bot h6 .bot strong {
  font-size: 1rem;       /* same as normal text */
  font-weight: bold;     /* keep bold */
  margin: 0.5em 0 0.3em; /* reduce spacing */
}